 <style>
    
    	/*将根元素的字体大小改为62.5%，方便后面使用，1rem=10px;*/
        html,
        body {
            width: 100%;
            font-size: 62.5%;
        }

        /* iphone5 */
        @media only screen and (min-width: 320px) {
            html,
            body {
                font-size: 55.556% !important;
        	}
        }
        /* 一般安卓手机 */
        @media only screen and (min-width: 360px) {
            html,
            body {
                font-size: 62.5% !important;
            }
        }

        /* iphone6/7/8 */
        @media only screen and (min-width: 375px) {
            html,
            body {
                font-size: 65.10417% !important;
            }
        }

        /* iphone6/7/8 plus */
        @media only screen and (min-width: 414px) {
            html,
            body {
                font-size: 71.875% !important;
            }
        }
        
        /* iphone X/XS/XS max/XR*/
        @media  screen and (min-width: 812px)  {
            html,
            body {
                font-size: 71.875% !important;
            }
        }
        
        /* ipad */
        @media only screen and (min-width: 768px) and (orientation:portrait) {
            html,
            body {
                font-size: 133.3333% !important;
            }
        }

        /* ipad pro */
        @media only screen and (min-width: 1024px) {
            html,
            body {
                font-size: 177.77778% !important;
            }
        }

        h1{
            font-size: 1.5rem;
            text-align: center;
        }
    </style>